<div ng-controller="homeController">
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">First First</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">First Second</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">First Third</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">Second First</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">Second Second</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">Second Third</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">Third First</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">Third Second</div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">Third Third</div>
  </div>
</div>
